*{
    margin: 0;
    padding: 0;

}
body{
    overflow-x: hidden;
}
.main{
    width: 100%;
    background: url(img2.jpg);
    /* background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(img1.jpg); */
    background-position: center;
    background-size: cover;
    height:100%;
    

}
.navbar{
    width:1200px;
    height:75px;
    margin:auto;
}
.icon{
    width:200px;
    float:left;
    height: 70px;
}
.logo{
    color:rgb(255, 255, 255);
    font-size: 25px;
    font-family: Arial;
    padding-left: 5px;
    float:left;
    padding-top: 10px;

}
.menu{
    width:400px;
    float: right;
    height: 70px;

}
ul{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;

}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 20px;
    font-size: 15px;

}
ul li a{
    text-decoration: none;
    color: #ffffff;
    font-family: Arial;
    font-weight: bolder;
    transition: 0.4s ease-in-out;



}
ul li a:hover{
    color:white;
    text-decoration: underline;
}
.head{
    
    text-align: center;
    margin-top: 100px;
    color: white;
    font-size: 30px;

}
.button{
    text-align: center;

   
}
button:hover{
    color:white;
    text-decoration: underline;
    cursor: pointer;
}
.download{
    
    border:2px solid white;
    border-radius: 15px;
    padding:15px;
    color: white;
    font-size: 20px;
    
    background:transparent;
}
.main1{
    text-align: center;
    font-size:13px;
    padding: 15px;
}


.column{
    display:flex;
    flex-direction: row;
    height:85vh
    
    
}
.left{
    width:55.9%;
    /* height:85vh; */
    background-color: yellow;

    
    
}
.img4{
    width:100%;
    height:85vh;

}

.right{
    width:50%;
    /* height:80vh; */
    padding-top: 30px;
    padding-left: 35px;

    
    
    background-color: rgb(36, 3, 45);
}
.right p{
    color: white;
}
.button1{
    padding-top: 40px;
    text-align: left;
    cursor: pointer;
   
}
.b1{
    border-radius: 20px;
    border-color: white;
    border-style: solid;
    padding: 10px;
    background: transparent;
    color: #ffffff;
}
.button2{
    padding-top: 5px;
    text-align: left;
    cursor: pointer;
   
}
.b2{
    border-radius: 20px;
    border-color: white;
    border-style: solid;
    padding: 10px;
    background-color: rgb(248, 191, 5);
    color: #ffffff;
}

.column2{
    display:flex;
    flex-direction: row;
    height:85vh
}
.right2{
    width:50%;
    /* height:85vh; */
    background-color: yellow;


}
.left2{
    width:50%;
    /* height:80vh; */
    padding-top: 30px;
    padding-left: 35px;

    
    
    background-color: rgb(36, 3, 45);
}
.img5{
    width:100%;
    height:85vh;

}
.left2 p{
    color: white;
}
.button3{
    padding-top: 25px;
    text-align: left;

}
.b3{
   border-radius: 23px;
   border-style: solid;
   color: white;
   background: transparent;
   border-color: white;
   padding: 15px;
}

.review{
    display: flex;
    flex-direction: row;
    height: 40vh;
}
.r1{
    display:flex;
    padding-left: 50px;
    
}
.r1 img{
    border-radius: 50%;
    width:100px;
    height:100px

}
.r1 p{
    padding-top: 20px;
    padding-left: 12px;
}
.r2{
    display:flex;
    padding-left: 170px;
    
}
.r2 img{
    border-radius: 50%;
    width:100px;
    height:100px

}
.r2 p{
    padding-top: 20px;
    padding-left: 12px;
}
.mainfooter{
    background: url(img2.jpg);
    height:70vh;
    background-repeat: no-repeat;
    background-size: 100%;
}
.footer{
  
    display:flex;
    flex-direction: row;
}
.about{
    width:33.33%;
    padding-left: 75px;
    padding-top: 50px;
}
.services{
    width: 33.33%;
    padding-left: 55px;
    padding-top: 50px;


}
.contact{
    width: 33.33%;
    padding-top: 50px;

}


